<div class="password-icon-bar">
<div class="contained center-grid">
  <div class="grid small-grid">
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Organic.svg' | asset_url }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Chemicals.svg' | asset_url }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Pesticides.svg' | asset_url }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js password-icon" src="{{ 'Colors.svg' | asset_url }}">
      <p>No Artificial<br/>Flavours</p>
    </div>
  </div>
</div>
</div>
<style type="text/css">
.password-icon{
  color: white !important;
}
</style>