<div class="password-background-box">

<div class="prefooter-box">
<div class="row contained">
<div class='col-md-6'>
<h2 class="cooper">{{section.settings.first_section_header}}</h2>
<p>{{section.settings.first_section_copy}}#FindingTimeWellSpent is an ongoing campaign to find, feature and invest $1,000 in women around the world - helping them make their passion happen.</p>
<p>The campaign kicks off on November 7th on Instagram.  Follow us <a class="prefooter-link" href="https://www.instagram.com/shopbontemps">@Shopbontemps</a></p>
</div>
<div class="col-md-6">
    <div class="">
      <img src="{{ 'boxes-isolated.png' | asset_url }}">
    </div>
  </div>
</div>
</div>
</div>
{% schema %}
{
 "settings": [
   {
     "type": "text",
     "label": "First Section Header",
     "id": "first_section_header",
     "default": "Female investing begins <br\/> November 7, 2018"
   },
   {
     "type": "richtext",
     "label": "First Section Copy",
     "id": "first_section_copy",
     "default": "<p>#FindingTimeWellSpent is an ongoing campaign to find, feature and invest $1,000 in women around the world - helping them make their passion happen.<\/p>\r\n<p>The campaign kicks off on November 7th on Instagram.  Follow us <a class=\"prefooter-link\" href=\"https:\/\/www.instagram.com\/shopbontemps\">@Shopbontemps<\/a><\/p>"
   }
 ]
}
{% endschema %}
