<div style="background-image: url('{{ section.settings.bg_image | img_url: '2000x2000'}}')" style="height: 400px;">
<div class="row">
<div class='col-sm-6'>
<h2>In November, we kick off the <br/>#timewellspentchallenge</h2>
<p>An ongoing campaign to find, feature and invest $1,000 in women around North America — helping them make their passion happen.</p>
<p>Applications begin [date] on instagram.</p>
</div>
</div>
</div>
{% schema %}
{
 "settings": [
    {
    "type": "image_picker",
    "label": "content background",
    "id": "bg_image"
    }
 ]
}
{% endschema %}