<div class="password-icon-bar">
<div class="contained center-grid">
  <div class="grid small-grid">
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon1 | img_url: '300x300' }}">
      <p>Organic</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon2 | img_url: '300x300' }}">
      <p>Chemical<br/>Free</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon3 | img_url: '300x300' }}">
      <p>No<br/>Pesticides</p>
    </div>
    <div class="grid__item one-quarter">
      <img class="lazyload js" src="{{ section.settings.icon4 | img_url: '300x300' }}">
      <p>No Artificial<br/>Flavours</p>
    </div>
  </div>
</div>
</div>
{% schema %}
{
"settings": [
    {
        "type": "image_picker",
        "id": "icon1",
        "label": "icon 1"
      },
      {
        "type": "image_picker",
        "id": "icon2",
        "label": "icon 2"
      },
      {
        "type": "image_picker",
        "id": "icon3",
        "label": "icon 3"
      },
      {
        "type": "image_picker",
        "id": "icon4",
        "label": "icon 4"
      }
    ]
}
    
{% endschema %}