<div class="password-background-box">

<div class="prefooter-box">
<div class="row">
<div class='col-sm-6'>
<h2 class="cooper">In November, we kick off the <br/>#timewellspentchallenge</h2>
<p>An ongoing campaign to find, feature and invest $1,000 in women around North America — helping them make their passion happen.</p>
<p>Applications begin [date] on instagram.</p>
</div>
<div class="col-sm-6">
    <div class="">
      <img src="{{ 'tea-boxes.png' | asset_url }}">
    </div>
  </div>
</div>
</div>
</div>
{% schema %}
{
 "settings": []
}
{% endschema %}