<div class="prefooter-box">
<div class="row text-left contained">
  <div class="top-box col-sm-6">
    <div class="content-copy">
      <h2 class="cooper">{{section.settings.first_section_header}}</h2>
      <p>{{section.settings.first_section_copy}} Follow us <a class="prefooter-link" href="https://www.instagram.com/shopbontemps">@Shopbontemps</a></p>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <div class="password-content-image">
      <img src="{{ section.settings.content_image | img_url: '1200x1200' }}">
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": {
      "en": "Content",
      "de": "Inhalt",
      "fr": "Contenu",
      "it": "Contenuto",
      "ja": "コンテンツ",
      "es": "Contenido",
      "pt-BR": "Conteúdo"
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "content_image",
        "label": "Content Image"
      },
      {
        "type": "text",
        "label": "First Section Header",
        "id": "first_section_header",
        "default": "Female investing begins <br\/> November 7, 2018"
      },
      {
        "type": "richtext",
        "label": "First Section Copy",
        "id": "first_section_copy",
        "default": "<p>#FindingTimeWellSpent is an ongoing campaign to find, feature and invest $1,000 in women around the world - helping them make their passion happen.</p><p>The campaign kicks off on November 7th on Instagram.</p>"
      }
    ]
  }
{% endschema %}
